# Build a Basic ML Model for text classification
- implement a text classification menggunakan ML algorithm
- basic NLP berbasiskan fitur yang bisa di buat dari text dan akan di test dalam sebuah model pada test data yang set ke dalam evaluasi performance

untuk mengclasify sbeuah tweet apakah " hate speech " atau " not "

## 1. About the dataset

In [71]:
# load the dataset
import pandas as pd

dataset = pd.read_csv("Basic_ML_Model_for_Text_Classification\\final_dataset_basicmlmodel.csv")
dataset.head(5)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

**Things to note**
- **label** sebuah column berisikan sebuah target dari variabel atau sebuah value yang di prediksi oleh test data, 1 => **hate speach**, 0 => **not**
- **tweet** adalah sebuah text yang berisikan tweet, tweet adalah sebuah main yang akan di NLP

In [72]:
for index, tweet in enumerate(dataset['tweet'][10:15]):
    print(index+1,".",tweet)

1 .  â #ireland consumer price index (mom) climbed from previous 0.2% to 0.5% in may   #blog #silver #gold #forex
2 . we are so selfish. #orlando #standwithorlando #pulseshooting #orlandoshooting #biggerproblems #selfish #heabreaking   #values #love #
3 . i get to see my daddy today!!   #80days #gettingfed
4 . ouch...junior is angryð#got7 #junior #yugyoem   #omg
5 . i am thankful for having a paner. #thankful #positive

**Note :- Noise present in Tweets**

 - If you look closely, you'll see that there are many hashtags present in the tweets of the form `#` symbol followed by text. We particularly don't need the `#` symbol so we will clean it out.
 - Also, there are strange symbols like `â` and `ð` in tweet 4. This is actually `unicode` characters that is present in our dataset that we need to get rid of because they don't particularly add anything meaningful.
 - There are also numerals and percentages .

### 2. Data Cleaning

Let's clean up the noise in our dataset.

In [73]:
#used the regex
import re
# clean text from noise
def clean_text(text):
    #Filter to allow only aplhabets
    text = re.sub(r'[^a-zA-Z\']',' ',text)
    
    #Remove Unicode characters
    text = re.sub(r'[^\x00-\x7f]+','',text)
    
    #convert to lowercase
    text = text.lower()
    return text

In [74]:
dataset['clean_text'] = dataset['tweet'].apply(lambda x: clean_text(x))

In [75]:
dataset['tweet']

0        @user when a father is dysfunctional and is s...
1       @user @user thanks for #lyft credit i can't us...
2                                     bihday your majesty
3       #model   i love u take with u all the time in ...
4                  factsguide: society now    #motivation
                              ...
5237    lady banned from kentucky mall. @user  #jcpenn...
5238    @user omfg i'm offended! i'm a  mailbox and i'...
5239    @user @user you don't have the balls to hashta...
5240     makes you ask yourself, who am i? then am i a...
5241    @user #sikh #temple vandalised in in #calgary,...
Name: tweet, Length: 5242, dtype: object

In [76]:
dataset['clean_text']

0         user when a father is dysfunctional and is s...
1        user  user thanks for  lyft credit i can't us...
2                                     bihday your majesty
3        model   i love u take with u all the time in ...
4                  factsguide  society now     motivation
                              ...
5237    lady banned from kentucky mall   user   jcpenn...
5238     user omfg i'm offended  i'm a  mailbox and i'...
5239     user  user you don't have the balls to hashta...
5240     makes you ask yourself  who am i  then am i a...
5241     user  sikh  temple vandalised in in  calgary ...
Name: clean_text, Length: 5242, dtype: object

In [77]:
# used nlp module
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
def transfor_text(text):
    transfor=[]
    text = word_tokenize(text)
    for i in text:
        if i not in stopwords.words("english") and i not in string.punctuation and i.isalnum():
            transfor.append(i)
    return " ".join(transfor)

In [78]:
transfor_data = dataset["tweet"].apply(transfor_text)
transfor_data

0       user father dysfunctional selfish drags kids d...
1       user user thanks lyft credit ca use cause offe...
2                                          bihday majesty
3                                model love u take u time
4                           factsguide society motivation
                              ...
5237      lady banned kentucky mall user jcpenny kentucky
5238    user omfg offended mailbox proud mailboxpride ...
5239     user user balls hashtag say weasel lumpy dipshit
5240                       makes ask anybody oh thank god
5241    user sikh temple vandalised calgary wso condem...
Name: tweet, Length: 5242, dtype: object

sama aja

cuma kalau regex bakal harus ngerubah ke str

In [79]:
from wordcloud import STOPWORDS
STOP_WORDS = STOPWORDS
STOP_WORDS

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'all',
 'also',
 'am',
 'an',
 'and',
 'any',
 'are',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 "can't",
 'cannot',
 'com',
 'could',
 "couldn't",
 'did',
 "didn't",
 'do',
 'does',
 "doesn't",
 'doing',
 "don't",
 'down',
 'during',
 'each',
 'else',
 'ever',
 'few',
 'for',
 'from',
 'further',
 'get',
 'had',
 "hadn't",
 'has',
 "hasn't",
 'have',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'hence',
 'her',
 'here',
 "here's",
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 "how's",
 'however',
 'http',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'k',
 "let's",
 'like',
 'me',
 'more',
 'most',
 "mustn't",
 'my',
 'myself',
 'no',
 'nor',
 'not',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'otherwise',
 'ought',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'r',
 'same',
 'shall',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "shouldn't",
 'since',
 'so',
 'some',
 'such',
 'than',
 'that',
 "that's",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 "there's",
 'therefore',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 'very',
 'was',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 "weren't",
 'what',
 "what's",
 'when',
 "when's",
 'where',
 "where's",
 'which',
 'while',
 'who',
 "who's",
 'whom',
 'why',
 "why's",
 'with',
 "won't",
 'would',
 "wouldn't",
 'www',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [92]:
# cek counts of words at the tweet
def gen_freq(text):
    #ill store the list of words
    word_list = []
    
    #loop over all the tweets and extract word into word_list
    for tw_words in text.split():#split sama kayak word tokenize
        word_list.extend(tw_words)
    
    # create word frequencies using word list
    word_freq = pd.Series(word_list).value_counts()
    
    # drop stop words in english during frequency calculation
    word_freq = word_freq.drop(STOP_WORDS,errors='ignore')
    
    return word_freq

# check whether a negation term is present in the text
def any_neg(words):
    for word in words:
        if word in ['n','no', 'non','not'] or re.search(r"\wn't",word):
            return 1 # yang mengandung negasi -> auto high spech
    else:
        return 0

# chech whether one of the 100 rare words is present in the text
def any_rare(words,rare_100):
    for word in words :
        if word in rare_100:
            return 1
    else :
        return 0

# chech whether prompt words are present
def is_qeustion(words):
    for word in words :
        if word in ['when','what','how','who','why','where']:
            return 1
    else :
        return 0

In [84]:
# word freq
word_freq = gen_freq(dataset['clean_text'].str)
word_freq[:10]

user      3351
amp        439
love       320
day        254
trump      214
happy      207
will       191
people     186
new        171
u          158
dtype: int64

In [85]:
# 100 most rare words in dataset
rare_100 = word_freq[-100:]
rare_100

lou          1
stlislou     1
semperfi     1
packaging    1
nighty       1
            ..
wwefi        1
mitb         1
superkick    1
cssday       1
dipshit      1
Length: 100, dtype: int64

In [108]:
# number of word in a tweet
dataset['word_count'] = dataset['clean_text'].apply(lambda x : len(word_tokenize(x)))
dataset['word_count']

0       18
1       21
2        3
3       12
4        4
        ..
5237     8
5238    15
5239    24
5240    17
5241    10
Name: word_count, Length: 5242, dtype: int64

In [88]:
dataset['clean_text'].str.split() # mirip kayak pakai word_tokenize

0       [user, when, a, father, is, dysfunctional, and...
1       [user, user, thanks, for, lyft, credit, i, can...
2                                 [bihday, your, majesty]
3       [model, i, love, u, take, with, u, all, the, t...
4                  [factsguide, society, now, motivation]
                              ...
5237    [lady, banned, from, kentucky, mall, user, jcp...
5238    [user, omfg, i'm, offended, i'm, a, mailbox, a...
5239    [user, user, you, don't, have, the, balls, to,...
5240    [makes, you, ask, yourself, who, am, i, then, ...
5241    [user, sikh, temple, vandalised, in, in, calga...
Name: clean_text, Length: 5242, dtype: object

In [93]:
#negation present or not
dataset['any_neg'] = dataset['clean_text'].str.split().apply(lambda x : any_neg(x))
dataset['any_neg']

0       0
1       1
2       0
3       0
4       0
       ..
5237    0
5238    0
5239    1
5240    0
5241    0
Name: any_neg, Length: 5242, dtype: int64

In [96]:
# present prompt or not
dataset['is_qeustion'] = dataset['clean_text'].str.split().apply(lambda x : is_qeustion(x))
dataset['is_qeustion']

0       1
1       0
2       0
3       0
4       0
       ..
5237    0
5238    0
5239    0
5240    1
5241    0
Name: is_qeustion, Length: 5242, dtype: int64

In [99]:
# present rare -> rare adalah sebuah value counts yang tidak duplicate
dataset['any_rare'] = dataset['clean_text'].str.split().apply(lambda x : any_rare(x,rare_100))

In [112]:
#Character count of the tweet
dataset['char_count'] = dataset['clean_text'].apply(lambda x : len(x))

In [113]:
dataset

,id,label,tweet,clean_text,word_count,any_neg,is_qeustion,any_rare,char_count
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is s...,18,0,1,0,102
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i can't us...,21,1,0,0,122
2,3,0,bihday your majesty,bihday your majesty,3,0,0,0,21
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...,12,0,0,0,86
4,5,0,factsguide: society now #motivation,factsguide society now motivation,4,0,0,0,39
...,...,...,...,...,...,...,...,...,...
5237,31935,1,lady banned from kentucky mall. @user #jcpenn...,lady banned from kentucky mall user jcpenn...,8,0,0,0,59
5238,31947,1,@user omfg i'm offended! i'm a mailbox and i'...,user omfg i'm offended i'm a mailbox and i'...,15,0,0,0,82
5239,31948,1,@user @user you don't have the balls to hashta...,user user you don't have the balls to hashta...,24,1,0,1,112
5240,31949,1,"makes you ask yourself, who am i? then am i a...",makes you ask yourself who am i then am i a...,17,0,1,0,87
5241,31961,1,"@user #sikh #temple vandalised in in #calgary,...",user sikh temple vandalised in in calgary ...,10,0,0,0,67

In [118]:
from sklearn.model_selection import train_test_split
# numerical data
X = dataset[['word_count','any_neg','is_qeustion','any_rare','char_count']]
y = dataset['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

## 4.Train a ML model for text classification

In [122]:
from sklearn.naive_bayes import GaussianNB
# initialize gauusian NB classifier
model = GaussianNB()
# fit the model on the train data set
model = model.fit(X_train,y_train)
# make prediciton on test data set
pred = model.predict(X_test)
pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [124]:
from sklearn.metrics import f1_score,accuracy_score
print("Accuracy:", accuracy_score(y_test, pred)*100, "%", " | F1 Score : ", f1_score(y_test,pred)*100,"%")

Accuracy: 44.952380952380956 %  | F1 Score :  60.893098782138026 %

In [125]:
import pickle
pickle.dump(model,open("model.pkl","wb"))
pickle.dump(dataset,open("dataset.pkl","wb"))